/*
 * stream_list.scss
 *
 * Desc: styling for the stream list
 */

 #stream_list_content {
		margin: 0 10px;
		overflow: hidden;
		position: relative;
	}
		#stream_list_header {
			font-size: 28px;
			line-height: 1em;
			font-variant: small-caps;
			font-weight: bold;
			padding-bottom: 7px;
			text-align: center;
			color: #560d0d;
			border-bottom: 2px solid #560d0d;
		}
		#stream_list_sub_header {
			font-size: 14px;
			font-variant: small-caps;
			text-align: left;
			color: #560d0d;
		}
		.sl_marker_1 {
			left: -5px;
			width: 0;
			background-color: #560d0d;
		}
		.stream_list {
			list-style-type: none;
			margin: 5px 5px 0 10px;
			padding: 0;
			position: relative;
		}
		.stream_list .sl_item {
			vertical-align: middle;
			margin: 3px 0 0 0;
			padding: 0;
			position: relative;
			text-align: left;
		}
		.stream_list .sl_item .sl_field {
			position: absolute;
		}
			.sl_tourney_live {
				position: relative;
			}
				.sl_tourney_live .sl_tourney_title {
					position: relative;
					height: 30px;
					font-variant: small-caps;
					cursor: pointer;
				}
					.sl_tourney_live .sl_tourney_icon {
						left: 0;
						width: 24px;
						height: 24px;
						overflow: hidden;
					}
						.tourney_icon_a1,
						.tourney_icon_a2,
						.tourney_icon_a3,
						.tourney_icon_a4 {
							position: absolute;
							z-index: 0;
						}
						.sl_tourney_live .tourney_live_icon {
							z-index: 5;
							position: absolute;
							left: 0;
						}
					.sl_tourney_live .sl_tourney_name {
            left: 0;
						top: 3px;
					}
					.sl_tourney_live .sl_tourney_stream {
						height: 26px;
						position: relative;
						margin-left: 16px;
						font-size: 12px;
						cursor: pointer;
					}
						.sl_tourney_live .sl_stream_name {
							left: 0;
              font-size: 12px;
						}
						.sl_tourney_live .sl_stream_viewers {
							right: 0;
							text-align: right;
							font-style: italic;
              display: none;
						}
			.sl_tourney_soon {
				position: relative;
			}
				.sl_tourney_soon .sl_tourney_title {
					position: relative;
					font-variant: small-caps;
					cursor: pointer;
          height: 30px;
				}
					.sl_tourney_soon .sl_tourney_icon {
						left: 0;
						font-size: 8px;
						font-variant: small-caps;
					}
					.sl_tourney_soon .sl_tourney_name {
						left: 0px;
						top: 3px;
					}
					.sl_tourney_soon .sl_tourney_date {
						right: 0px;
						top: 7px;
						font-size: 12px;
					}
			.sl_item .sl_tourney_info {
				margin-left: 15px;
				display: none;
				font-size: 12px;
				padding-bottom: 10px;
				cursor: normal;
			}
			.sl_player {
				position: relative;
				height: 24px;
				cursor: pointer;
			}
				.sl_race {
					left: 0;
					text-align: center;
				}
					.sl_race_icon {
						width: 18px;
						height: 18px;
					}
				.sl_rank {
					left: 25px;
					text-align: center;
				}
					.sl_rank_icon {
						width: 18px;
						height: 18px;
					}
				.sl_team {
					left: 54px;
					text-align: center;
				}
					.sl_team_icon {
						width: 18px;
						height: 18px;
					}
				.sl_name {
					top: 2px;
					left: 54px;
					overflow: hidden;
					text-align: left;
					font-weight: bold;
					font-size: 12px;
				}
				.sl_viewers {
					right: 0;
					font-size: 12px;
					font-style: italic;
					text-align: right;
          display: none;
				}
#sl_listing_info {
	font-size: 12px;
	text-align: left;
	margin-top: 15px;
	cursor: pointer;
}
#sl_listing_info:hover {
	text-decoration: underline;
}
#sl_listing_info_more {
	display: none;
	font-size: 12px;
	padding: 5px;
}

#player_stream_list {
  margin-left: 15px;
}